<a href="https://colab.research.google.com/github/AtelliAndressa/ANALISES/blob/main/072_Removendo_dados_duplicados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___
# Capítulo 1 - Manipulação de dados: Básico
## Seção 7 - Removendo dados duplicados
___

In [ ]:
import numpy as np
import pandas as pd

from pandas import 
DataFrame

SyntaxError: invalid syntax (<ipython-input-1-9a00e6d24ec5>, line 4)

In [ ]:
dados = {
    'coluna 1': [1, 1, 2, 2, 3, 3, 3],
    'coluna 2': ['a', 'a', 'b', 'b', 'c', 'c', 'c'],
    'coluna 3': ['A', 'A', 'B', 'B', 'C', 'C', 'C'],
}

df = DataFrame(dados)
df

### Removendo dados duplicados

#### nome_do_objeto.duplicated()

♔┈♔┈♔┈( O QUE ISSO FAZ )┈♔┈♔┈♔

O método .duplicated() confere se cada linha é uma duplicata de uma linha anteriore cria uma Serie de valores True ou False indicando se a linha é uma linha duplicada ou nao no dataframe

In [ ]:
df.duplicated()

#### nome_do_objeto.drop_duplicates()

♔┈♔┈♔┈( O QUE ISSO FAZ )┈♔┈♔┈♔

Para remover todas as linhas repetidas, usamos o método `.drop_duplicates()`. Lembre-se para alterar o objeto ao invés de criar um novo, devemos usar o parâmetro `inplace`.

In [ ]:
df.drop_duplicates()

In [ ]:
df

#### nome_do_objeto.drop_duplicates(['nome_da_coluna'])

♔┈♔┈♔┈( O QUE ISSO FAZ )┈♔┈♔┈♔


Para remover linhas repetidas considerando apenas uma columna, passamos para o método `.drop_duplicates()` uma lista com o nome da coluna que ele deverá considerar.

In [ ]:
dados = {
    'coluna 1': [1, 1, 2, 2, 3, 3, 3],
    'coluna 2': ['a', 'a', 'b', 'b', 'c', 'c', 'c'],
    'coluna 3': ['D', 'A', 'B', 'B', 'C', 'C', 'C'],
}

df = DataFrame(dados)
df

In [ ]:
df.drop_duplicates(['coluna 3'])